<a href="https://colab.research.google.com/github/YannickHallez/CHIM2-ON1/blob/main/Copie_de_TP1_vierge_V23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###############################################################################################
# supprimez cette cellule si vous exécutez ce notebook en-dehors de la distribution CHIM2-ON1 #
###############################################################################################

import os
import sys

cwd0 = "../config/"
sys.path.append(cd0)

import visualID as vID
from visualID import color
vID.init(cwd0)

NameError: name 'cd0' is not defined

# TP1. Exercices sur les listes
## Exercices d'entrainement
*Difficulté : 1/5*

**1.** Dans une variable que vous appellerez `val`, stocker la liste [1,4,-6,12,1.55] et afficher son contenu.

In [ ]:
# entrez votre code python dans cette cellule

**2.** Afficher le premier élément de la liste. On rappelle que pour accéder à un élément, l'indice de celui-ci dans le tableau se met entre crochets :[]. De plus, les indices d'un tableau commence à 0.

In [ ]:
# entrez votre code python dans cette cellule

**3.** Afficher le troisième élément de la liste. On rappelle que pour accéder à un élément, l'indice de celui-ci dans le tableau se met entre crochets :[]. De plus, les indices d'un tableau commence à 0.

In [ ]:
# entrez votre code python dans cette cellule

**4.** Afficher le dernier élément de la liste sans utiliser l'indice 4.

In [ ]:
# entrez votre code python dans cette cellule

**5.** Afficher la sous-liste [4,-6,12] de la variable `val`

In [ ]:
# entrez votre code python dans cette cellule

**6.** En utilisant la fonction append(), ajouter à la liste un élément de valeur 5

In [ ]:
# entrez votre code python dans cette cellule


## Exercice 1. Liste des alcalins

*Difficulté : 2/5 puis 2,5/5 pour les questions 9 et 10*

**1.** Créer une liste `alcalin` contenant les chaînes de caractères 'Li', 'Na', 'K' et 'Rb' (liste de métal alcalin) et une autre liste `numAtom` qui contient respectivement les numéros atomiques de chacun de ces éléments : 3, 11, 19,37. Afficher ces 2 listes

In [ ]:
# entrez votre code python dans cette cellule

**2.** En demandant à l’utilisateur le numéro dans la liste d’un élément (compris entre 1 et 4) afficher le nom de l’élément correspondant et sa masse atomique.

In [ ]:
# entrez votre code python dans cette cellule

**3a.** Créer les listes `alcalin2` contenant Cs et Fr et `numAtom2` contenant 55 et 87 qui correspondent aux données pour les métaux alcalins manquants dans les listes précédentes.

In [ ]:
# entrez votre code python dans cette cellule

**3b.** A partir de ces 2 listes, compléter les listes `alcalin` et `numAtom`.

In [ ]:
# entrez votre code python dans cette cellule

**3c.** Vérifier en affichant `alcalin` et `numAtom` et tester en affichant le nom du sixième élément et sa masse atomique

In [ ]:
# entrez votre code python dans cette cellule

**4.** Sans compter le nombre d’éléments, afficher le dernier élément de la liste alcalin.

In [ ]:
# entrez votre code python dans cette cellule

**5.** Afficher tous les éléments de la liste sauf le premier.

In [ ]:
# entrez votre code python dans cette cellule

**6.** Afficher le nombre de métaux alcalins en utilisant 2 fonctions différentes.

In [ ]:
# entrez votre code python dans cette cellule

**7.** Afficher tous les éléments de la liste sauf les deux derniers

In [ ]:
# entrez votre code python dans cette cellule

**8.** Afficher tous les éléments de la liste à l’envers

In [ ]:
# entrez votre code python dans cette cellule

**9.** En utilisant une liste de listes, écrire une liste unique `alcalinMetal` qui contient à la fois
le symbole de ces métaux et leur numéro atomique.

In [ ]:
# entrez votre code python dans cette cellule

**10.** En demandant à l’utilisateur le numéro dans la liste `alcalinMetal` d’un élément (compris
entre 1 et 4) afficher le nom de l’élément correspondant et son numéro atomique en utilisant
`alcalinMetal`

In [ ]:
# entrez votre code python dans cette cellule

## 2. Génération de listes d'entiers

*Difficulté : 1/5*

**1.**  Générer une liste d’entiers allant de 0 à 10 compris

In [ ]:
# entrez votre code python dans cette cellule

**2.** Générer une liste d’entiers allant de 0 à 10 compris avec seulement les éléments pairs

In [ ]:
# entrez votre code python dans cette cellule

**3.** Générer une liste d’entiers allant de 5 à 20 compris

In [ ]:
# entrez votre code python dans cette cellule

**4.**  Générer une liste d’entiers allant de 5 à -10 compris

In [ ]:
# entrez votre code python dans cette cellule

## 3. Quelques boucles simples

*Difficulté : 1/5*

### 3.1 Boucle while
En utilisant une boucle while, faire afficher une table de conversion de la monnaie européenne, l'euro, en monnaie chinoise, le renminbi. 1 euro = 7.7 renminbi

1) La progression des sommes de la table sera comme dans l'exemple ci-dessous :

1 euro(s) = 7.7 renminbis

2 euro(s) = 15.4 renminbis

3 euro(s) = 23.1 renminbis

4 euro(s) = 30.8 renminbis

etc.

Vous devez arrèter le tableaux à 10 euros

2) Proposez une autre table dont la progression sera comme dans le nouvel exemple ci-dessous :

1 euro(s) = 7.7 renminbis

2 euro(s) = 15.4 renminbis

4 euro(s) = 23.1 renminbis

8 euro(s) = 30.8 renminbis

etc.

Vous devez arrèter le tableaux à 64 euros

### 3.2 Boucle for
Reproduisez le dernier exercice avec une boucle for au lieu d'une boucle while.

## 4. Remplir une liste avec des éléments saisis par l’utilisateur

*Difficulté : 1,5/5*

**1.** En utilisant une structure `for`, demander à l’utilisateur de saisir les différents métaux alcalins (un par un) que vous placerez dans une liste `alcalin` et les numéros atomiques correspondant dans une liste `numAtom`. Cette dernière liste devra contenir des entiers. Les différents métaux alcalins sont donnés dans l’exercice 1.

*Indice* : Vous partirez de listes vides que vous remplirez au fur et à mesure en utilisant append.

On rappelle la liste des alcalins

| nom | num atomique |
|---|---|
|Li|3 |
|Na|11 |
|K |19 |
|Rb |37 |
|Cs |55|

In [ ]:
# entrez votre code python dans cette cellule

**2.** Après la saisie de l’ensemble des éléments, afficher la liste des alcalins sous la forme :

* élément : Li; numéro atomique : 3
* élément : Na; numéro atomique :11
* et ainsi de suite ...

In [ ]:
# entrez votre code python dans cette cellule

## 5. Dosage des ions Calcium et Magnesium dans de l’eau

*Difficulté : 2/5*

Des mesures par dosage de la concentration en ions Calcium et Magnesium sont réalisées. À partir d’une série de mesures, vous allez calculer des grandeurs caractéristiques de cette série. Afin de générer artificiellement cette série de mesures, vous téléchargerez depuis moodle le fichier `genereConcentration.py`. Vous écrirez en début de votre programme les lignes suivantes qui appellent la fonction `genereC` du module `genereConcentration` pour créer une liste appelée C de N concentrations mesurées.

```
import genereConcentration as gc
N = 150
C = gc.genereC(N)
print (C)
```

**Dans cet exercice, vous n’utiliserez pas le module `pylab` pour répondre aux questions 1 à 3.**

In [ ]:
# génération des concentrations
import genereConcentration as gc
N = 150
C = gc.genereC(N)
print (C)

**1.**  Calculer la moyenne de la concentration, $\bar{c}$, qu'on appelera `cmoy`

In [ ]:
# entrez votre code python dans cette cellule

**2.** Trouver le minimum et le maximum de la concentration

In [ ]:
# entrez votre code python dans cette cellule

**3.** Calculer l’écart-type de la série de mesure. On donne la formule permettant le calcul de l’écart-type :

$$\sigma=\sqrt{\frac{1}{N}\sum_{i=1}^{N}(c_{i}-\bar{c})^{2}}$$

où $N$ est le nombre de valeurs de la série de concentrations générée par `genereC`. Les $c_i$ correspondent aux
éléments de la matrice des concentrations `C` générée par ce code.

In [ ]:
# entrez votre code python dans cette cellule

**4.** Vérifier maintenant à l'aide des fonctions `mean()`, `min()`, `max()`, `std()` du module `pylab`

In [ ]:
# entrez votre code python dans cette cellule

In [ ]:
###############################################################################################
# supprimez cette cellule si vous exécutez ce notebook en-dehors de la distribution CHIM2-ON1 #
###############################################################################################

vID.end(cwd0)