<a href="https://colab.research.google.com/github/YannickHallez/CHIM2-ON1/blob/main/Copie_de_TP1_vierge_V23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ##########################################################################################
# delete this cell if you run this notebook outside of the CHIM2-ON1 distribution #
# ##########################################################################################

import os
import sys

cwd0 = "../config/"
sys.path.append(cd0)

import visualID as vID
from visualID import color
vID.init(cwd0)

NameError: name 'cd0' is not defined

# TP1. List exercises
## Training exercises
*Difficulty: 1/5*

**1.** In a variable that you will call `val`, store the list [1,4,-6,12,1.55] and display its contents.

In [ ]:
# enter your python code in this cell

**2.** Show the first item in the list. Remember that to access an element, its index in the table is enclosed in square brackets:[]. Additionally, array indices start at 0.

In [ ]:
# enter your python code in this cell

**3.** Display the third item in the list. Remember that to access an element, its index in the table is enclosed in square brackets:[]. Additionally, array indices start at 0.

In [ ]:
# enter your python code in this cell

**4.** Show the last element of the list without using index 4.

In [ ]:
# enter your python code in this cell

**5.** Show sublist [4,-6,12] of variable `val`

In [ ]:
# enter your python code in this cell

**6.** Using the append() function, add an element with value 5 to the list

In [ ]:
# enter your python code in this cell

## Exercise 1. List of alkalis

*Difficulty: 2/5 then 2.5/5 for questions 9 and 10*

**1.** Create an `alkaline` list containing the character strings 'Li', 'Na', 'K' and 'Rb' (alkaline metal list) and another `numAtom` list which respectively contains the atomic numbers of each of these elements: 3, 11, 19.37. Show these 2 lists

In [ ]:
# enter your python code in this cell

**2.** By asking the user for the number in the list of an element (between 1 and 4) display the name of the corresponding element and its atomic mass.

In [ ]:
# enter your python code in this cell

**3a.** Create the lists `alkaline2` containing Cs and Fr and `numAtom2` containing 55 and 87 which correspond to the data for the alkali metals missing in the previous lists.

In [ ]:
# enter your python code in this cell

**3b.** From these 2 lists, complete the `alkaline` and `numAtom` lists.

In [ ]:
# enter your python code in this cell

**3c.** Check by displaying `alkaline` and `numAtom` and test by displaying the name of the sixth element and its atomic mass

In [ ]:
# enter your python code in this cell

**4.** Without counting the number of items, display the last item in the alkaline list.

In [ ]:
# enter your python code in this cell

**5.** Show all list items except the first.

In [ ]:
# enter your python code in this cell

**6.** Display the number of alkali metals using 2 different functions. You may have to load numpy or pylab.

In [ ]:
# enter your python code in this cell

**7.** Show all list items except the last two

In [ ]:
# enter your python code in this cell

**8.** Show all list items in reverse order.

In [ ]:
# enter your python code in this cell

**9.** Using a list of lists, write a single list `alkalineMetal` that contains both
the symbol of these metals and their atomic number.

In [ ]:
# enter your python code in this cell

**10.** By asking the user the number in the `alkalineMetal` list of an element (including
between 1 and 4) display the name of the corresponding element and its atomic number using
`alkalineMetal`

In [ ]:
# enter your python code in this cell

## 2. Generating lists of integers

*Difficulty: 1/5*

**1.** Generate a list of integers ranging from 0 to 10 inclusive

In [ ]:
# enter your python code in this cell

**2.** Generate a list of integers ranging from 0 to 10 inclusive with only even elements

In [ ]:
# enter your python code in this cell

**3.** Generate a list of integers ranging from 5 to 20 inclusive

In [ ]:
# enter your python code in this cell

**4.** Generate a list of integers ranging from 5 to -10 inclusive

In [ ]:
# enter your python code in this cell

## 3. A few simple loops

*Difficulty: 1/5*

### 3.1 While loop
Using a while loop, display a conversion table from the European currency, the euro, to the Chinese currency, the renminbi. 1 euro = 7.7 renminbi

1) The progression of the table sums will be as in the example below:

1 euro(s) = 7.7 renminbi

2 euro(s) = 15.4 renminbi

3 euro(s) = 23.1 renminbi

4 euro(s) = 30.8 renminbi

etc.

You must stop the paintings at 10 euros

2) Propose another table whose progression will be as in the new example below:

1 euro(s) = 7.7 renminbi

2 euro(s) = 15.4 renminbi

4 euro(s) = 30.8 renminbi

8 euro(s) = 61.6 renminbi

etc.

You have to stop the list at 64 euros

### 3.2 for loop
Repeat the last exercise with a for loop instead of a while loop.

## 4. Populate a list with user-entered items

*Difficulty: 1.5/5*

**1.** Using a `for` structure, ask the user to enter the different alkali metals (one by one) which you will place in an `alkaline` list and the corresponding atomic numbers in a `numAtom` list. This last list must contain integers. The different alkali metals are given in exercise 1.

*Hint*: You will start with empty lists that you will gradually fill using append.

We recall the list of alkalis

| noun | atomic number |
|---|---|
|Li|3 |
|Na|11 |
|K |19 |
|Rb |37 |
|Cs |55|

In [ ]:
# enter your python code in this cell

**2.** After entering all the elements, display the list of alkalis in the form:

* element: Li; atomic number: 3
* element: Na; atomic number: 11
* and so on...

In [ ]:
# enter your python code in this cell

## 5. Titration of Calcium and Magnesium ions in water

*Difficulty: 2/5*

Measurements of the concentration of Calcium and Magnesium ions are carried out. From a series of measurements, you will calculate quantities characteristic of this series. In order to artificially generate this series of measurements, you will use the `genereConcentration.py` file already present in your directory. At the start of your program, you will write the following lines which call the `genereC` function of the `genereConcentration` module to create a list called C of N measured concentrations.

```
import genereConcentration as gc
N = 150
C = gc.genereC(N)
print (C)
```

**In this exercise, you will not use the `pylab` module to answer questions 1 to 3.**

In [ ]:
# generation of concentrations
import genereConcentration as gc
N = 150
C = gc.genereC(N)
print (C)

**1.** Calculate the average of the concentration, $\bar{c}$, which we will call `cmoy`

In [ ]:
# enter your python code in this cell

**2.** Find the minimum and maximum of the concentration

In [ ]:
# enter your python code in this cell

**3.** Calculate the standard deviation of the measurement series. We give the formula for calculating the standard deviation:

$$\sigma=\sqrt{\frac{1}{N}\sum_{i=1}^{N}(c_{i}-\bar{c})^{2}}$$

where $N$ is the number of values in the concentration series generated by `genereC`. The $c_i$ correspond to the
elements of the concentration matrix `C` generated by this code.

In [ ]:
# enter your python code in this cell

**4.** Now check using the `mean()`, `min()`, `max()`, `std()` functions of the `pylab` module

In [ ]:
# enter your python code in this cell

In [ ]:
# ##########################################################################################
# delete this cell if you run this notebook outside of the CHIM2-ON1 distribution #
# ##########################################################################################

vID.end(cwd0)