<a href="https://colab.research.google.com/github/YannickHallez/CHIM2-ON1/blob/main/tableaux.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les tableaux

## Pr√©requis

Avoir suivi la le√ßon sur les listes.

## Comp√©tences

- Cr√©er des tableaux
- Utiliser les tableaux
- Acc√©der √† un √©l√©ment ou √† une tranche de liste
- Utiliser les fonctions de base s'appliquant aux tableaux (ajout, dimension)
- Faire des calculs avec des tableaux

## Objectifs

- Acqu√©rir les comp√©tences ci-dessus.
- Avoir faire des calculs simples avec des vecteurs ou matrices.
- Avoir les bases pour utiliser les modules scientifiques de python souvent bas√© sur le concept de tableau et en particulier dans la suite de cette UE.

# Qu'est ce qu'un tableau ?

Les tableaux sont tr√®s similaires √† des listes ... et m√™me au d√©but vous allez probablement les confondre üòû. Cependant, ils n'ont pas la m√™me utilit√©. Alors que les listes permettent de faire du stockage  de donn√©es de tous types, les tableaux sont eux plut√¥t destin√©s √† faire des calculs au sens math√©matique du terme, et en particulier sur des vecteurs ou matrice. 

En python, on ne parle pas de tableaux mais du terme anglais `array`. Et c'est d'ailleurs ce terme que nous utiliserons dans la suite, m√™me si les anglicismes, c'est pas bien. 

`array` comme `list`, `float`, `range`, `int` ... est un type de variables.

# Comment d√©finir un tableau ?

1.   **Importer le module numpy**, ce que vous fa√Ætes implicitement quand vous importez `pylab`.

2.   **D√©finir le tableau**. Pour cela, √ßa marche un peu comme les listes avec des valeurs entre crochets mais vous incluez cette liste dans un appel √† `array`.

In [1]:
from pylab import *

a = array([1,2.5,-3.9])
print(a)
print(type(a))

[ 1.   2.5 -3.9]
<class 'numpy.ndarray'>

D'ailleurs, on peut tr√®s bien convertir une liste en array

In [2]:
l = [1,2.5,-3.9]    #ici l est une liste
b = array(l)    # on converti la liste en array
print(b)
print(type(b))

[ 1.   2.5 -3.9]
<class 'numpy.ndarray'>

En fait, la diff√©rence essentielle entre une liste et l'array correspondante est que 
*   une array √† **une dimension** peut-√™tre essentiellement consid√©r√©s comme un **vecteur** en math√©matiques 
*   une array √† **2 dimensions** comme une **matrice** en math√©matiques  (nous n'en parlerons pas pour le moment)

Donc, comme ces objets ont un sens math√©matiques, on peut faire des op√©rations math√©matiques avec ceux-ci

In [3]:
#des exemples d'op√©rations
c=b+1 #additionner un scalaire
print(b)
print('addition d\'un scalaire',c) 
print('addition de deux vecteurs:',b+c) # addition de 2 arrays
#on pourrait faire pareil avec la soustraction
d=b*2 #multiplier par un scalaire
print('multiplication par un scalaire: ',d)
print('multiplication de 2 arrays: ',b*c)
#on pourrait faire pareil avec la division

#On a fait des calculs avec des matrices √† deux dimensions, mais cela fonctionne aussi avec des vecteurs (array √† 1 dimension)

[ 1.   2.5 -3.9]
addition d'un scalaire [ 2.   3.5 -2.9]
addition de deux vecteurs: [ 3.   6.  -6.8]
multiplication par un scalaire:  [ 2.   5.  -7.8]
multiplication de 2 arrays:  [ 2.    8.75 11.31]

# **REMARQUES TRES IMPORTANTES \:**

Les op√©rations entre 2 matrices que nous venons d'effectuer sont des **op√©rations membres √† membres**, c'est dire qu'un √©l√©ment du premier vecteur  √† une position donn√©e  est additionn√© ou multipli√© par l'√©l√©ment √† la m√™me position dans le second vecteur. Ici, rien de surprenant pour l'addition, mais en revanche, c'est tr√®s important de le comprendre pour la multiplication et la division. En effet, **en math, on ne peut pas multiplier deux vecteurs de m√™me dimension** et la division de vecteur n'existe pas en tant que telle.

# Quelques mani√®res de g√©n√©rer des arrays automatiquement (arange, linspace,zeros, ones)

## range

Pour les arrays, il existe un parall√®le √† la fonction `range` que nous avons vu pour les listes: c'est la fonction `arange`.

Ainsi, si on veut g√©n√©rer automatiquement une liste d'entiers de 10 √† 20 :

In [4]:
print('avec un pas de 1 :',arange(10,20)) 
print('avec un pas de 2 :',arange(10,20,2))

avec un pas de 1 : [10 11 12 13 14 15 16 17 18 19]
avec un pas de 2 : [10 12 14 16 18]

On retrouve le fait que les valeurs contenues dans l'array s'arr√™tent √† la valeur pr√©c√©dant la valeur 20 et non √† 20.

Contrairement √† range, on peut aussi travailler avec des r√©els

In [5]:
r=arange(0,1,5e-2)
print(r)

[0.   0.05 0.1  0.15 0.2  0.25 0.3  0.35 0.4  0.45 0.5  0.55 0.6  0.65
 0.7  0.75 0.8  0.85 0.9  0.95]

## linspace

Une autre mani√®re de g√©n√©rer des r√©els √©galement r√©partis sur un intervalle est d'utiliser la fonction `linspace`. Cette fonction prend 3 param√®tres les 2 premiers √©tant le point de d√©part et le point d'arriv√©e. Le dernier est le nombre de points que l'on veut sur l'intervalle entre celui de d√©part et d'arriv√©e

In [6]:
e=linspace(0,1,11)
print(e)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

On voit bien les diff√©rences avec arange. Ici, le point final fait bien partie du vecteur contrairement √† arange. De plus, alors que arange a besoin de l'√©cart entre chaque valeurs, linspace a besoin lui du nombre de valeurs en incluant les valeurs extr√©males. c'est d'ailleurs parce que ces 2 valeurs extr√©males sont incluses que j'ai pris 11 points pour avoir 0,1 entre chaque valeur.

## arange ou linspace ? Telle est la question ...

effectivement, vous avez vu que ces deux fonctions font √† peu pr√®s la m√™me chose : tron√ßonner un intervalle. Alors laquelle choisir ?

Cela d√©pend en fait essentiellement de ce que vous voulez m√™me comme troisi√®me param√®tre. Si sur l'intervalle, vous connaissez le nombre de points √† mettre, partez pour `linspace`. Si vous connaissez l'√©cart voulu entre chaque valeur, il faut choisir `arange`.

Pour arange, il y a m√™me un moyen de faire en sorte que si la derni√®re valeur fait partie de l'ensemble des valeurs √† atteindre.

In [7]:
r=arange(0,1,5e-2)
print(r)  # 1 ne fait pas partie du vecteur avec arange
r=arange(0,1+5e-2,5e-2)
print(r) # 1 en fait maintenant partie ... on a en quelque sorte bern√© arange

[0.   0.05 0.1  0.15 0.2  0.25 0.3  0.35 0.4  0.45 0.5  0.55 0.6  0.65
 0.7  0.75 0.8  0.85 0.9  0.95]
[0.   0.05 0.1  0.15 0.2  0.25 0.3  0.35 0.4  0.45 0.5  0.55 0.6  0.65
 0.7  0.75 0.8  0.85 0.9  0.95 1.  ]

## zeros et ones

Il est parfois utile de peupler des vecteurs avec des valeurs pr√©d√©finies.

In [8]:
zz=zeros((3)) #remarquez bien le double niveau de parenth√®ses
print(zz) #on a rempli un vecteur de 3 √©l√©ments nuls.
oo=ones((3))
print(oo)

[0. 0. 0.]
[1. 1. 1.]

# La copie d'array

Nous tombons ici sur un sujet qui peut ne pas √™tre facile √† comprendre pour un d√©butant et qui m√®ne parfois √† des erreurs qui sont tr√®s difficiles √† identifier.

Prenons l'exemple simple ci-dessous dans lequel je mets un vecteur dans une variable a. Puis, je d√©cide de la mettre aussi dans une autre variable b comme √ßa.

In [9]:
a=array([12,15.5,-2])
b=a

L√©gitimement et d'ailleurs comme dans de nombreux langages de programmation, on pourrait pensez que b contient les m√™mes valeurs que a mais en est compl√®tement ind√©pendant. V√©rifions le modifiant une valeur de b comme par exemple,

In [10]:
b[1]=203
print(b) #l√† c'est sans surprise
print(a) #l√† c'est beaucoup plus surprenant ...

[ 12. 203.  -2.]
[ 12. 203.  -2.]

Et oui, on a modifi√© b, mais le vecteur a a aussi √©t√© modifi√© quand on a modifi√© b. Le moyen le plus simple pour rendre b compl√®tement ind√©pendant de a tout en copiant ses valeurs est de g√©n√©rer une nouvelle liste √† partir de a.

In [11]:
a=array([12,15.5,-2])
b=array(a)
b[1]=203
print(b) #l√† c'est sans surprise
print(a) #on n'a pas touch√© √† a

[ 12. 203.  -2.]
[12.  15.5 -2. ]

Il faut noter que les listes se comportent de la mani√®re vis √† vis de la copie;

# Quelques Fonctions utiles (max, min,argmax,argmin,sum, mean)

Les fonctions `min` et `max` permettent de conna√Ætre respectivement la valeur minimale et la valeur maximale dans une array tandis que `argmin` et `argmax` permettent d'acc√©der  √† l'indice de la valeur minimale et celui de la valeur maximale respectivement. 

`sum` renvoie la somme des √©l√©ments
`mean` renvoie la valeur moyenne des √©l√©ments

In [28]:
a=array([10,1,15,12.5,18,19.5,5,12])
print(min(a))
print(argmin(a))
print(max(a))
print(argmax(a))
print(sum(a))
print(mean(a))

1.0
1
19.5
5
93.0
11.625

# Masquage bool√©ens d'array

on peut en python facilement extraire ou modifier des donn√©es dans une array √† partir d'op√©rateurs relationnels

In [26]:
b=a>=10
print(b)
print(a[b])

[ True False  True  True  True  True False  True]
[10.  15.  12.5 18.  19.5 12. ]

b contient autant de bool√©ens que a qui v√©rifie pour chaque √©l√©ment de a s'il est sup√©rieur ou √©gal √† 10. 

l'appel √† a[b] indice les valeurs de a avec les valeurs dans b. On ne voit plus que les valeurs sup√©rieures √† 10 

On peut aussi modifier des donn√©es √† partir de ce type d'op√©rations

In [27]:
a[a<10]=0
a[a>=10]=1
print(a)

[1. 0. 1. 1. 1. 1. 0. 1.]

# Alors list ou array ? Le retour de "Telle est la question" 

Comme vous l'avez vu, nombre de concept des list python se retrouvent pour les array et ils se manipulent quasiment de la m√™me mani√®re. Alors comment choisir entre les 2 ?
Le choix se base sur la question suivante : S'agit-il de faire des manipulations math√©matiques sur l'objet ? 

Si oui :  array

Si non : les listes suffiront.



---


# **Pour ceux qui veulent aller plus loin : les arrays √† 2 dimensions**

Exactement comme pour les listes sauf qu'il faut pr√©ciser qu'on veut une `array`, on peut d√©finir des tableaux √† 2 dimensions

In [15]:
b = array([[1,2.5],[-5.6,6.5]])    
print(b)

[[ 1.   2.5]
 [-5.6  6.5]]

En fait, la diff√©rence essentielle entre une liste et l'array correspondante est que 
*   une array √† **une dimension** peut-√™tre essentiellement consid√©r√©s comme un **vecteur** en math√©matiques 
*   une array √† **2 dimensions** comme une **matrice** en math√©matiques.

Donc, comme ces objets ont un sens math√©matiques, on peut faire des op√©rations math√©matiques avec ceux-ci

In [16]:
#des exemples d'op√©rations
c=b+1 #additionner un scalaire
print(b)
print(c) 
print(b+c) # addition de 2 arrays
#on pourrait faire pareil avec la soustraction
d=b*2 #multiplier par un scalaire
print(d)
print(b*c)
#on pourrait faire pareil avec la division

#On a fait des calculs avec des matrices √† deux dimensions, mais cela fonctionne aussi avec des vecteurs (array √† 1 dimension)

[[ 1.   2.5]
 [-5.6  6.5]]
[[ 2.   3.5]
 [-4.6  7.5]]
[[  3.    6. ]
 [-10.2  14. ]]
[[  2.    5. ]
 [-11.2  13. ]]
[[ 2.    8.75]
 [25.76 48.75]]

# **REMARQUES TRES IMPORTANTES \:**

Les op√©rations entre 2 matrices que nous venons d'effectuer sont des **op√©rations membres √† membres**, c'est dire qu'un √©l√©ment de la premi√®re matrice √† une position donn√©e  est additionn√© ou multipli√© par l'√©l√©ment √† la m√™me position dans la seconde matrice. Ici, rien de surprenant pour l'addition, mais en revanche, c'est tr√®s important de le comprendre pour la multiplication et la division. En effet, **en math, la multiplication de matrice est une op√©ration tr√®s particuli√®re diff√©rente de celle que nous venons de voir** et la division de matrice n'existe pas en tant que telle.

On remarquera aussi que ces op√©rations membres √† membres imposent que les vecteurs soient de m√™me taille.

# acc√©der aux dimensions des arrays √† 2 dimensions :

On retrouve les m√™mes commandes que pour les listes √† savoir `ndim`, `shape` et `size`. Pour bien comprendre, ce qu'il y a derri√®re les arrays surtout √† 2 dimensions, nous allons d√©tailler quelques points. Commen√ßons par observer le r√©sultat de ces fonctions avec un vecteur.

In [17]:
a = array([1,2.5,-3.9])
print(a)
print('dimension :',ndim(a))
print('forme :',shape(a))

[ 1.   2.5 -3.9]
dimension : 1
forme : (3,)

`ndim` nous indique bien le nombre de dimensions de a. Il s'agit donc d'un vecteur. `shape` nous donne le nombre d'√©l√©ment sous un forme un peu √©trange. Il s'agit d'un autre objet de python que l'on nomme `tuples` qui correspond √† une s√©rie de donn√©es, entour√©e par des parenth√®ses, et s√©par√©es par des virgules. Nous ne rentrerons pas plus en d√©tails dans la description de ce type d'objet. Mais, dans le cadre pr√©sent, il nous suffit de savoir que `shape` donne le nombre d'√©l√©ments pour chaque dimension. Et en l'occurence, comme `a` n'a qu'une seule dimension, `shape` ne renvoie qu'un chiffre qui est le nombre d'√©lements de l'unique dimension.

Int√©ressons nous maintenant √† la structure d'une matrice √† 2 dimensions. J'en profite pour vous montrer une autre mani√®re d'appeler les fonctions `ndim` et `shape`.

In [18]:
c = array([[1,2,3],[4,5,6]])    
print(c)
print('dimension :',c.ndim)
print('forme :',c.shape)

[[1 2 3]
 [4 5 6]]
dimension : 2
forme : (2, 3)

Nous voyons ici que l'array c √† 2 dimensions et que la premi√®re de ces dimensions est 2 et la deuxi√®me 3. Pourquoi pas l'inverse... eh bien, c'est un peu comme des poup√©es gigognes. Ecrivons autrement, la m√™me matrice.

In [19]:
a = array([1,2,3])
b = array([4,5,6])    
c=array([a,b])
print(c)

[[1 2 3]
 [4 5 6]]

on voit qu'en fait `c` est un vecteur √† 2 √©l√©ments, chacun des √©l√©ments √©tant un vecteur √† 3 √©l√©ments. La dimension que l'on voit en premier est donc 2 puis vient apr√®s la dimension suivante : 3. Un peu comme quand pour les poup√©es gigognes o√π on ouvre d'abord la plus grosse  qui est la seule qu'on voit pour voir la suivante.

# Acc√©der √† un √©l√©ment d'array √† 2 dimensions

C'est important de bien comprendre ce qui pr√©c√®de pour acc√©der √† un √©l√©ment du tableau. Par exemple, l'acc√®s au 3i√®me √©lement du 2i√®me vecteur s'effectue sous la forme c[1,2] : le premier indice entre crochet correspond au num√©ro du premier contenant en commen√ßant √† 0 et le deuxi√®me √† celui des sous-contenants en commen√ßant √† 0 comme toujours dans python.

Cela conduit √† une parfaite analogie avec la notation que les math√©maticiens utilisent par convention pour les matrices : le premier indice correspond au num√©ro de ligne et le second au num√©ro de colonne.

![arrayIndicage.png]()

In [20]:
print(c[1,2])

6

**remarque** : les array ne peuvent contenir que des √©l√©ments de m√™me taille. La ligne suivante *conduit* √† une erreur !

In [21]:
c = array([[1,2],[4,5,6]]) #conduit √† une erreur

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

# Les tranches ou comment acc√©der √† des lignes ou colonnes dans une array 2D

Ici encore, le parall√®le avec ce que nous avons vu pour les listes est maintenu. Cependant pour les listes, nous avons trait√© cette partie seulement pour les listes √† une seule dimension. Nous allons voir maintenant comment faire pour des arrays √† deux dimensions. Les m√™mes principes pourront √™tre appliqu√©s pour des listes de listes.

### Acc√©der √† une ligne

Supposons que l'on veuille avoir acc√®s √† la deuxi√®me ligne de l'array `c`. Cela revient √† acc√©der √† toutes les colonnes de la deuxi√®me ligne de `c`. Comme on l'a vu pour les listes, tous les √©l√©ments correspond au symbole :

In [22]:
c = array([[1,2,3],[4,5,6]]) 
print(c[1,:])

[4 5 6]

### Acc√©der √† une colonne

De m√™me la m√™me mani√®re si on veut acc√©der, mettons √† la deuxi√®me colonne, cela revient √† prendre toutes les lignes de la deuxi√®me colonne. On utilise donc le m√™me formalisme mais cette fois, c'est le premier indice qui prend le symbole \:

In [23]:
print(c[:,1])

[2 5]

on remarque que python ne retient pas la forme de colonne ! Pour python, cette colonne n'a qu'une seule dimension et l'affichage se fait comme pour tout √©l√©ment √† une seule dimension.